/* general */
html {
  font-family: Helvetica, sans-serif, sans-serif !important; /* font para todo o site */
}

/* header */
.banner {
  width: 100%; /* para preencher 100% da largura da pagina */
  height: 600px; /* altura do banner */
  background-image: url('../img/capa2.jpg'); /* fazemos esta tecnica para a imagem estar se comportando igual em varios monitores e uma tag de imagem é sempre redimensionada quando fechamos e abrimos a tela*/
  background-position: center; /* deixar o banner sempre centralizado na tela */
  position: relative; /* para posicionarmos items aqui dentro deste espaco e em relacao a ele */
}

.box-container {
  width: 400px;
  height: 200px;
  text-align: center;
  position: absolute; /* para podermos mexer nele com relacao ao banner */
  right: 100px; /* com relacao ao banner */
  bottom: 250px; /* com relacao ao banner */
}

.box-background { /* feito em separado para que seja somente ele com as propriedades de transparencia e nao o texto que sera aplicado sobre ele */
  width: 100%; /* da largura do box-container */
  height: 100%; /* da altura do box-container */
  background-color: #000; /* cor do fundo */
  opacity: .8; /* transparencia aplicada */
  position: relative; /* para servir de fundo para os elementos a seguir */
}

.box-banner-title {
  position: absolute; /* relacao ao item anterior */
  width: 100%; /* largura 100% do anterior */
  text-align: center; /* texto alinhado ao centro */
  top: 0; /* altura 0 com relacao ao topo do item anterior */
  color: #FFF; /* cor da fonte do titulo */
  padding-top: 65px; /* espacar o titulo do topo */
}

.box-banner-title h1 { /* dar css ao h1 que foi perdido com o reset */
  font-size: 32px;
  margin-bottom: 25px;
}

.box-banner-title p { /* dar css ao p que foi perdido com o reset */
  font-size: 20px;
}

.company-info-container {
  position: absolute; /* posicao com relacao ao elemento pai */
  bottom: 0; /* situado ao nivel inferior do elemento pai */
  width: 100%; /* ocupa toda a largura do elemento pai */
  height: 175px; /* altura do elemento */
}

.company-info-background { /* config do fundo do company-info-container */
  width: 100%; /* da largura do pai */
  height: 100%; /* da altura do pai */
  background-color: #DDD; /* cor do fundo */
  opacity: .9; /* transparencia aplicada */
}

.company-info-titlebox {
  position: absolute; /* pq vai ter que se movimentar no mesmo sentido do company-info-container */
  padding-left: 10%; /* afastamento interno do conteudo da borda esquerda*/
  top: 40px; /* separar do topo */
  width: 500px; /* largura do texto */
}

.company-info-titlebox h2, .company-info-titlebox p {
  color: #222;
}

.company-info-titlebox h2 {
  margin-bottom: 30px;
  font-size: 24px;
}

/* Servicos */
.service-container { /* container que engloba esta seccao */
  max-width: 1200px; /* largura max total da tela */
  padding: 30px 10%;
  padding-bottom: 0;
}

.service-box {
  width: 100%;
  position: relative;
  clear: both; /* porque parte do titulo tem float com isso nao permite atravessar um no outro por causa do float*/
  height: 150px;
  margin-bottom: 30px; /* para descolar um service do outro */
}

.service-box:last { /* ultimo service */
  margin-bottom: 0; /* nao temos margin-bottom para nao distanciar muito da proxima seccao */
}

.service-title {
  width: 20%;
  height: 150px;
  background-color: #DDD;
  float: left;
  text-align: center;
  line-height: 150px; /* para alinhar verticalmente o texto de servico deste box */
  padding: 20px; /* para descolar dos cantos */
  box-sizing: border-box; /* nao deixo que o texto saia do service-box, ou seja, textos maiores eles vao quebrar linha */
}

.service-title p {
  padding-top: 35px;
  color: #FFF;
  font-size: 18px;
  line-height: 24px; /* correcao para ficar correto menor que o aplicado na line-height do service-title */
}

.service-description {
  width: 80%; /* ja o que service-title ja tem 20% e com isso completam 100% */
  float: left;
  padding: 30px;
  box-sizing: border-box;
}

.service-description h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

.service-description p {
  font-size: 14px;
  line-height: 22px; /* para o texto nao ficar muito colado como apresenta no reset.css */
}

#gerenciamento-title {
  color: #2364AA;
}

#dev-title {
  color: #3DA5D9;
}

#design-title {
  color: #72BFB8;
}

#gerenciamento-box {
  background-color: #2364AA;
}

#dev-box {
  background-color: #3DA5D9;
}

#design-box {
  background-color: #72BFB8;
}

/* Sobre a empresa */
.footer-container {
  background-image: url('../img/rodape.jpg'); /* inserimos o segundo banner */
  background-position: center; /* centralizamos a imagem */
}

.about-container {
  max-width: 1200px; /* convencao muito utilizada porque se vc pega um entorno muito grande a tela, os elementos ficam muito espacados como no 100%. Entao definimos uma largura para o meio do site para manter uma integridade do layout para qualquer monitor, mais grandes e mais pequenos*/
  padding: 30px 10%;
  position: relative;
  clear: both; /* pq iremos usar o float */
}

.about-card {
  float: left;
  width: 30%; /* 30% da largura maxima para cada card (total 90%) e os outros 10% serao do espacamento do card do meio sendo 5% para cada lado */
  padding: 30px;
  background-color: #FFF;
  text-align: center;
  box-sizing: border-box; /* para nao fugir o texto da div porque ela tem float*/
}

.middle-card {
  margin-left: 5%;
  margin-right: 5%;
}

.about-card i {
  font-size: 50px;
  color: #AAA;
}

.about-card p {
  margin-top: 50px;
  font-size: 14px;
  line-height: 22px; /* para descolar uma linha da outra */
  color: #888;
  text-align: left; /* texto alinhado a esquerda */
}
